<!DOCTYPE HTML>
<html lang="{% block lang scoped %}en{% endblock lang %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title scoped required %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    {% block head scoped %}{% endblock head %}
  </head>
  <body>
    <div class="content">
      <h1>{{ self.title() }}</h1>
      {% block body scoped required %}{% endblock body %}
    </div>
    <footer>
      <i>If you're reading this, the web server was installed correctly.™</i>
      <hr>
      <p>Sane Scanner Webserver v3.2.0 © CoolCat467</p>
    </footer>
  </body>
</html>
