{% extends "base.html.jinja" %}
{% block title %}{{ page_title }}{% endblock title %}
{% block body %}
<div class="box">
  <p>
    {{ error_body }}
  </p>
  <br>
  {% if return_link %}
  <a href="{{ return_link }}">Return to previous page</a>
  <br>
  {% endif %}
  <a href="/">Return to main page</a>
</div>
{% endblock body %}
