{% extends "base.html.jinja" %}
{% block title %}Devices{% endblock title %}
{% block body %}
<div class="box">
  <span>Devices:</span>
  <br>
  <ul>
    {% for scanner in scanners %}
    <li>{% if scanner.active %}
    <a href="/settings?{{ scanner.url }}">{{ scanner.vendor|escape }} {{ scanner.model|escape }} (<i>{{ scanner.type_|escape }}</i>)</a>
    {% else %}
    {{ scanner.vendor|escape }} {{ scanner.model|escape }} (<i>{{ scanner.type_|escape }}</i>)
    {% endif %}</li>
    {% else %}
    <p>There were no devices detected. Are your device(s) turned on?</p>
    {% endfor %}
  </ul>
</div>
<br>
<a href="/"><button>
  Scan Request
</button></a>
<a href="/update_scanners"><button>
  Update Devices
</button></a>
{% endblock body %}
