{% extends "base.html.jinja" %}
{% block title %}{% if just_started %}Just Started Scanning{% else %}Scan Is In Progress{% endif %}{% endblock title %}
{% block head %}
<meta http-equiv="refresh" content="{{ refreshes_after }}">
{% endblock head %}
{% block body %}
<div class="box">
  <p>{% if just_started %}Just Started.{% elif progress[0] == progress[1] %}Just finished, saving file...{% else %}<strong>{{ (progress[0] / progress[1] * 100)|round(2) }}%</strong> Complete{% endif %}</p>
  {% if not progress[0] == progress[1] %}<p>Scan is estimated to be done in <strong>{{ estimated_wait }}</strong>.</p>{% endif %}
</div>
<hr>
<i>This page will automatically refresh after {{ refreshes_after }} second{% if refreshes_after > 1 %}s{% elif refreshes_after == 0 %}s{% endif %}.</i>
<i>If it doesn't, please click <a href="/scan-status">this link</a>.</i>
{% endblock body %}
