{% extends "base.html.jinja" %}
{% block title %}{{ scanner }}{% endblock title %}
{% block body %}
{% if radios %}
<b>Settings for "{{ scanner }}":</b>
<form name="settings_update" method="post">
  {{ radios }}
  <br>
  <input type="submit" id="settings_update_submit_button" name="settings_update_submit_button" value="Save">
</form>
{% else %}
<p>There are no additional settings for this scanner.</p>
{% endif %}
<hr>
<a href="/"><button>Scan Request</button></a>
<a href="/scanners"><button>Scanner Settings</button></a>
{% endblock body %}
