*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Lucida Console";
}
h1, footer {
  text-align: center;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
code {
  padding: 0.2em 0.4em;
  background-color: rgba(158,167,179,0.4);
  border-radius: 6px;
  font-family: "SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace";
  line-height: 1.5;
}
::placeholder {
  font-style: italic;
}
.box {
  background: ghostwhite;
  padding: 0.5%;
  border-radius: 4px;
  border: 2px solid black;
  margin: 0.5%;
  width: fit-content;
}
#noticeText {
  font-size: 10px;
  display: inline-block;
  white-space: nowrap;
}
input[type="submit"] {
  border: 1.5px solid black;
  border-radius: 4px;
  padding: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  min-width: min-content;
}
